<h2>Listar Professor</h2>
<hr>
<a href="/admin02/professor/add">
<button type="button" name="button" class="btn btn-success">Adicionar Professor</button>
</a>

{{#each professor}}
<div class="card-body mt-4">
  <h4>Nome:{{nome}}</h4>
  <small>Turma:{{turma}}</small>
  <small>Turno: {{turno}}</small>
  <br>
<a href="/admin02/professor/edit/{{_id}}" class="btn btn-success mt-4">Editar Professor</a>

  <form class="" action="/admin02/professor/deletar" method="POST">
    <input type="hidden" name="id" value="{{_id}}">
    <button  type="submit" name="button" class="btn btn-danger mt-2" >Deletar Professor</button>
  </form>
</div>
{{else}}
<h4 class="mt-3">Nenhum Professor registrado</h4>
{{/each}}
